/* google font */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* using variable for reapting the colors */

:root {
    --background-color: #F2F2F2;
    --nav-color: #6a7b8b;
    --white: #fff;
    --card-background-color: #92a7ba9c;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    height: 100vh;
}

a {
    color: var(--white);
    text-decoration: none;
}

header {
    width: 100vw;
}


/* header */

.nav-bar {
    position: relative;
    background-color: var(--nav-color);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

.nav-bar ul li {
    display: inline;
    margin-left: 1.2em;
}

.nav-bar .logo-image {
    width: 10em;
}


/* heading image logo */

.heading_image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading_image img {
    width: 10em;
}


/* hiding hamburger menu in desktop */

.nav-bar .nav-checkbox,
.nav-button {
    display: none;
}


/* main section */


/* discover section style */

.discover-section img {
    width: 100%;
    padding: 2rem;
    position: relative;
}

.discover-section h2 {
    text-transform: uppercase;
    color: var(--white);
    position: absolute;
    top: 60%;
    left: 30%;
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 1rem 2rem rgba(black, .4)
}


/* card section style */

.things h2 {
    text-align: center;
}

.things h2 span {
    display: block;
}

.card-section {
    display: flex;
    /* flex-wrap: wrap; */
    flex: 1;
    margin: 1.3rem;
    height: 250px;
}

.card {
    width: 50rem;
    background-color: var(--card-background-color);
    margin: 2rem 0 0 1rem;
    border-radius: 5px;
}

.card .card-image {
    width: 30%;
    margin-left: 33.3%;
    margin-top: 1rem;
}

.card-section .card-text {
    color: var(--white);
    padding: 1em;
    text-align: center;
}

.card-section .card-text p {
    font-size: 0.6rem;
    font-weight: 400;
    margin-top: 1rem;
}

.btn {
    background-color: var(--nav-color);
    color: var(--white);
    padding: 1rem;
    margin-top: 2rem;
    margin-left: 23rem;
    margin-bottom: 2rem;
    border-radius: 3px;
    width: 20%;
}


/* third section about open days */

.discover-program h2 {
    text-align: center;
    padding: 2rem;
}

.open {
    display: flex;
    padding: 2rem;
    align-items: center;
}

.open img {
    width: 4rem;
    margin-left: 1rem;
}

h5 {
    font-size: 1.2rem;
    padding: 2rem;
    margin-top: .6rem
}


/* for open information sectin */

.open-days-info {
    display: flex;
    height: 200px;
    /* padding: 2rem; */
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.open-days-info .aside1 {
    /* background-color: red; */
    width: 400px;
    margin-right: 3rem;
}

.open-days-info .aside1 h3 {
    color: rgb(99, 93, 93);
    text-align: center;
    margin-bottom: 2rem;
}

.open-days-info .aside1 span {
    display: block;
    color: black;
}

.open-days-info .aside1 p {
    text-align: center;
    font-weight: bold;
}

.open-days-info .aside2 {
    width: 400px;
}

.open-days-info .aside2 h3 {
    color: rgb(99, 93, 93);
    text-align: center;
    margin-bottom: 2rem;
}

.open-days-info .aside2 span {
    display: block;
    color: black;
}

.open-days-info .aside2 p {
    text-align: center;
    font-weight: bold;
}

.discover-program .last-info h4 {
    color: rgb(99, 93, 93);
    text-align: center;
    padding: 2rem;
}

.discover-program .last-info h4 span {
    display: block
}


/* footer style */

footer {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    background-color: var(--nav-color);
    position: relative;
    bottom: 0;
    width: 100vw;
}

footer .img {
    margin-left: 1rem;
    width: 3rem;
    height: 3rem;
}

.footer-img {
    width: 4em;
    padding: 1em;
}

.social-icon {
    margin-top: 1rem;
    margin-left: 30%;
}


/* media screen for small screen  */

@media only screen and (max-width:600px) {
    /* for hamburger menu */
    .nav-bar nav {
        opacity: 0;
    }
    .nav-bar .nav-button {
        display: inline;
    }
    .nav-bar nav ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 40%;
        background-color: var(--nav-color);
        margin: 2.6rem;
    }
    .nav-bar nav ul li {
        padding: 1rem;
    }
    .nav-bar .nav-button {
        background-color: #bdccdb;
        height: 2rem;
        width: 2rem;
        position: absolute;
        top: 30%;
        left: 88%;
        border-radius: 50%;
        text-align: center;
        cursor: pointer;
    }
    .nav-icon {
        position: relative;
        top: 20%;
        /* opacity: 0; */
    }
    .nav-bar .nav-checkbox:checked~nav {
        opacity: 1;
        z-index: 1;
    }
    /* for images navbar and footer */
    .nav-bar .logo-image,
    .heading_image img {
        width: 6rem;
    }
    /* discover section h2 */
    .discover-section h2 {
        top: 40%;
        left: 20%;
        font-size: 1rem;
    }
    /* card section */
    .card-section {
        flex-direction: column;
        margin: auto;
        margin: 2rem;
    }
    .card {
        width: 70%;
    }
    .open-days-info {
        flex-direction: column;
    }
    /* footer  */
    footer {
        position: relative;
        bottom: 0;
        width: 100vw;
    }
}