/* using variable for reapting the colors */

:root {
    --background-color: #F2F2F2;
    --nav-color: #6a7b8b;
    --white: #fff
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: var(--white);
    text-decoration: none;
}

header {
    width: 100vw;
}


/* header */

.nav-bar {
    position: relative;
    background-color: var(--nav-color);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

.nav-bar ul li {
    display: inline;
    margin-left: 1.2em;
}

.nav-bar .logo-image {
    width: 10em;
}

.heading_image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading_image img {
    width: 10em;
}

.nav-bar .nav-checkbox,
.nav-button {
    display: none;
}

@media only screen and (max-width:570px) {
    /* body {
        background-color: black;
    } */
    /* for hamburger menu */
    .nav-bar nav {
        opacity: 0;
    }
    .nav-bar .nav-button {
        display: inline;
    }
    .nav-bar nav ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 40%;
        background-color: var(--nav-color);
        margin: 2.6rem;
    }
    .nav-bar nav ul li {
        padding: 1rem;
    }
    .nav-bar .nav-button {
        background-color: #bdccdb;
        height: 2rem;
        width: 2rem;
        position: absolute;
        top: 40%;
        left: 90%;
        border-radius: 50%;
        text-align: center;
        cursor: pointer;
    }
    .nav-icon {
        position: relative;
        top: 20%;
        /* opacity: 0; */
    }
    .nav-bar .nav-checkbox:checked~nav {
        opacity: 1;
        z-index: 1;
    }
    /* for heading image */
}